[submodule "actuators/steering/full-stupid"]
	path = actuators/steering/full-stupid
	url = git@github.com:RetroPilot/full-stupid.git
[submodule "actuators/steering/retropilot-drivetronik"]
	path = actuators/steering/retropilot-drivetronik
	url = git@github.com:wocsor/retropilot-drivetronik.git
[submodule "actuators/steering/retropilot-column-steering"]
	path = actuators/steering/retropilot-column-steering
	url = https://github.com/R3D347HR4Y/retropilot-column-steering
